
html {
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

img {
  border-style: none;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

h1,
h3,
p {
  margin: 0;
}

button {
  text-transform: none;
  background-color: transparent;
  background-image: none;
  padding: 0;
  cursor: pointer;
}

button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

input::-ms-input-placeholder {
  color: #a0aec0;
}

input:-ms-input-placeholder {
  color: #a0aec0;
}

input::placeholder {
  color: #a0aec0;
}

h1,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

img,
video,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.bg-black {
  --bg-opacity: 1;

  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.bg-white {
  --bg-opacity: 1;

  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-200 {
  --bg-opacity: 1;

  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.bg-indigo-500 {
  --bg-opacity: 1;

  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
}

.rounded {
  border-radius: 0.25rem;
}

.border-0 {
  border-width: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-bold {
  font-weight: 700;
}

.h-8 {
  height: 2rem;
}

.h-16 {
  height: 4rem;
}

.h-64 {
  height: 16rem;
}

.h-full {
  height: 100%;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-black {
  --text-opacity: 1;

  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

.text-white {
  --text-opacity: 1;

  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.text-gray-500 {
  --text-opacity: 1;

  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.text-red-500 {
  --text-opacity: 1;

  color: #f56565;
  color: rgba(245, 101, 101, var(--text-opacity));
}

.text-yellow-500 {
  --text-opacity: 1;

  color: #ecc94b;
  color: rgba(236, 201, 75, var(--text-opacity));
}

.text-green-500 {
  --text-opacity: 1;

  color: #48bb78;
  color: rgba(72, 187, 120, var(--text-opacity));
}

.italic {
  font-style: italic;
}

.no-underline {
  text-decoration: none;
}

.w-full {
  width: 100%;
}

@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:mb-0 {
    margin-bottom: 0;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .selectUrl {
    margin-bottom: 10px;
  }
}

.footer-index {
  width: 100%;
  height: 11%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mobileShow {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline;
  }
}

.fixed {
  position: inherit;
  top: 50%;
}

@media screen and (min-width: 3100px) {
  .fixed {
    left: 20%;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3099px) {
  .fixed {
    left: 10%;
  }
}

@media screen and (min-width: 2300px) and (max-width: 2559px) {
  .fixed {
    left: 5%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2299px) {
  .fixed {
    left: 15px;
  }
}

@media only screen and (min-width: 1919px) {
  .fixed {
    position: fixed;
  }
}
